header {
    @include display-flex();
    @include flex-direction(column);
    @include justify-content(space-around);
    height: 160px;
    margin: 0.5em;
    margin-top: 10px;
    position: fixed;
    width: 95%;
    top:10px;
    background: $background-img fixed no-repeat black;
    background-size: cover;
    .banner {
        @include flex-direction(row);
        @include display-flex();
        @include align-items(stretch);
        height: 100%;
        .logo {
            @include display-flex();
            @include flex(0.8);
            background: $logo transparent center center no-repeat;
            background-size: cover;
            height: 100%;
        }
        .titles {
            @include display-flex();
            @include flex-direction(column);
            @include flex(1);
            @include flex-grow(3);
            @include justify-content(center);
            text-align: center;
            h1 {
                font-size: 5em;
                font-family: $header_title;
                margin: 0.2em;
                margin-bottom: 0.4em;
                text-align: center;
            }
            h2 {
                font-family: $header_sub_title;
                font-size: 2.5em;
                text-align: center;
                margin: 0.2em;
            }
        }
        .user {
            @include display-flex();
            @include flex-direction(column);
            @include flex(1);
            label {
                @include display-flex();
                @include flex-direction(row);
                .avatar {
                    @include display-flex();
                    max-height: 100px;
                    max-width: 100px;
                    img {
                        @include display-flex();
                        max-height: 100px;
                        max-width: 100px;
                    }
                }
                .user_data {
                    @include display-flex();
                    @include flex-direction(column);
                    .user {
                        font-weight: bold;
                        font-size: 1.2em;
                        margin: 0.2em;
                    }
                    // STARS ---------------
                    @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

                    fieldset, label { margin: 0; padding: 0; }
                    body{ margin: 20px; }
                    h1 { font-size: 0.5em; margin: 2px; }
                    
                    .rating { 
                        border: none;
                        float: left;
                    }
                    
                    .rating > input { display: none; } 
                    .rating > label:before { 
                        margin: 5px;
                        font-size: 0.5em;
                        font-family: FontAwesome;
                        display: inline-block;
                        content: "\f005";
                    }
                    
                    .rating > .half:before { 
                        content: "\f089";
                        position: absolute;
                    }
                    
                    .rating > label { 
                        color: #ddd; 
                        float: right; 
                    }
                    
                    /***** CSS Magic to Highlight Stars on Hover *****/
                    
                    .rating > input:checked ~ label, /* show gold star when clicked */
                    .rating:not(:checked) > label:hover, /* hover current star */
                    .rating:not(:checked) > label:hover ~ label { color: $star_validated_color;  } /* hover previous stars in list */
                    
                    .rating > input:checked + label:hover, /* hover current star when changing rating */
                    .rating > input:checked ~ label:hover,
                    .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
                    .rating > input:checked ~ label:hover ~ label { color: $star_in_validation_color;  } 
                    // -----------------------------------------------
                    form {
                        input {
                            &::placeholder {
                                color: #fff;
                            }
                            padding: 0.2em;
                            padding-left: 0.5em;
                            border: 2px solid grey;
                            border-radius: 10px;
                            background-color: transparent;
                            font-size: 1em;
                            color: inherit;
                            &:focus {
                                background-color: #1e1515;
                                font-size: 1.1em;
                            }
                            &:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
                                color: #fff;
                                background-color: transparent;
                                border: 5px solid #FAFFBD;
                            }
                        }  
                    }
                }
                .forms {
                    @include display-flex();
                    @include flex-direction(row); 
                    input[type=submit] {
                        border: none;
                        color: #fff;
                        background: transparent;
                        font-style: oblique;
                        font-size: 1.2em; 
                    }
                }
            }
            .forms {
                @include display-flex();
                @include flex-direction(row); 
                input[type=submit] {
                    border: none;
                    color: #fff;
                    background: transparent;
                    font-style: oblique;
                    font-size: 1.2em; 
                }
            }
        }
    }
    .actions {
        @include display-flex();
        @include flex-direction(row);
    }
}