
@mixin font-smoothing($font-smoothing) {
    -webkit-font-smoothing: $font-smoothing;
    font-smoothing: $font-smoothing;
}
@mixin text-size-adjust($value: none) {
    -webkit-text-size-adjust: $value;
    -moz-text-size-adjust: $value;
    text-size-adjust: $value;
}

@mixin tap-highlight-transparent() {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; // For some Androids
}
@mixin touch-callout($value: none) {
    -webkit-touch-callout: $value;
}

@mixin font-family-serif() {
    font-family: $serif-font-family;
}
@mixin font-family-sans-serif() {
    font-family: $sans-font-family;
}
@mixin font-family-monospace() {
    font-family: $mono-font-family;
}
@mixin font-shorthand($size: $base-font-size, $weight: normal, $line-height: $base-line-height) {
    font-weight: $weight;
    font-size: $size;
    line-height: $line-height;
}
@mixin font-serif($size: $base-font-size, $weight: normal, $line-height: $base-line-height) {
    @include font-family-serif();
    @include font-shorthand($size, $weight, $line-height);
}
@mixin font-sans-serif($size: $base-font-size, $weight: normal, $line-height: $base-line-height) {
    @include font-family-sans-serif();
    @include font-shorthand($size, $weight, $line-height);
}
@mixin font-monospace($size: $base-font-size, $weight: normal, $line-height: $base-line-height) {
    @include font-family-monospace();
    @include font-shorthand($size, $weight, $line-height);
}
@mixin font-smoothing($font-smoothing) {
    -webkit-font-smoothing: $font-smoothing;
    font-smoothing: $font-smoothing;
}

@mixin remove-select() {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}