.hidden {
    display: none;
}
.untargetable{
    @include remove-select();
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    color: #fff;
    border: 5px solid #FAFFBD;
    background: none;
    font-style: $fonts;
}
a {
    text-decoration: none;
    color: #fff;
    font-style: oblique;
    font-size: 1.1em;
}
button {
    border: none;
    background: none;
}
input {
    background: none;
    font-style: $fonts;
}