// Definition of all the variable style and objects

// Fonts ---------------------
@font-face {
font-family: 'riogrande';
src: url('../fonts/riograndestripped.ttf');
}
@font-face {
font-family: 'bleedingcowboys';
src: url('../fonts/bleeding_cowboys.ttf');
}
@font-face {
font-family: 'flo';
src: url('../fonts/flo.ttf');
}
    

$fonts:                       'flo', Calibri, 'calibri', Arial, Helvetica, sans-serif !default;
$ptitle-font-style:           $fonts;
$stitle-font-style:           $ptitle-font-style;
$prog_font:                   $fonts;
$h1_prog_font:                $fonts;
$base-font-color:             #FFF;

// Star ratting
$star_validated_color:        #FFD700;
$star_in_validation_color:    #FFED85;

// Body ----------------------
/* 1600 - 1200 - 800 - 600 */
$background-img:              url(../images/background.jpg);
$background-color:            #000;

$action-color:                #600202;

$logo:                       url(../images/logo.png);
// Utilities ----------------
$h1-font-family:             $ptitle-font-style;
$h1-font-size:                1.7rem;
$h1-font-weight:              bold;
$h1-font-color:               blue;

// List ---------------------

// ---- h1 ------------------
$h1-list-font-size:          1.5rem;
$h1-list-font-weight:        700;
$h1-list-font-style:         normal;
// ---- h2 ------------------
$h2-list-font-size:          1.3rem;
$h2-list-font-weight:        500;
$h2-list-font-style:         italic;
// Index --------------------

// ----- Title --------------

// ----- Contents -----------
$accroche-font-size:          1.1rem;
$accroche-font-style:         oblique;
$accroche-font-weight:        normal;

$description-font-size:       normal;
$description-font-style:      normal;
$description-font-weight:     normal;

$header_title:               'riogrande';
$header_sub_title:           'bleedingcowboys';

// Images -------------------
$warning:                    url(../images/warning.svg);
