/**
 * Resets
 * --------------------------------------------------
 * Additional resets
 */
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
/* line 5, ../../usr/local/bundle/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../usr/local/bundle/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../usr/local/bundle/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../usr/local/bundle/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../usr/local/bundle/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../usr/local/bundle/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../usr/local/bundle/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../usr/local/bundle/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../usr/local/bundle/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, scss/_reset.scss */
button, input, select {
  outline: 0;
}

@font-face {
  font-family: 'riogrande';
  src: url("../fonts/riograndestripped.ttf");
}
@font-face {
  font-family: 'bleedingcowboys';
  src: url("../fonts/bleeding_cowboys.ttf");
}
@font-face {
  font-family: 'flo';
  src: url("../fonts/flo.ttf");
}
/* 1600 - 1200 - 800 - 600 */
/* line 1, scss/_body.scss */
body {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  word-wrap: break-word;
  line-height: 20px;
  -webkit-backface-visibility: hidden;
  -webkit-user-drag: none;
  padding: 0;
  margin: 0;
  background-color: #000;
  background: url(../images/background.jpg) fixed no-repeat;
  background-size: cover;
  font-family: "flo", Calibri, "calibri", Arial, Helvetica, sans-serif;
  font-size: medium;
  text-align: justify;
  color: #FFF;
}

/* line 1, scss/_utils.scss */
.hidden {
  display: none;
}

/* line 4, scss/_utils.scss */
.untargetable {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

/* line 8, scss/_utils.scss */
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  color: #fff;
  border: 5px solid #FAFFBD;
  background: none;
  font-style: "flo", Calibri, "calibri", Arial, Helvetica, sans-serif;
}

/* line 14, scss/_utils.scss */
a {
  text-decoration: none;
  color: #fff;
  font-style: oblique;
  font-size: 1.1em;
}

/* line 20, scss/_utils.scss */
button {
  border: none;
  background: none;
}

/* line 24, scss/_utils.scss */
input {
  background: none;
  font-style: "flo", Calibri, "calibri", Arial, Helvetica, sans-serif;
}

/* line 1, scss/_header.scss */
header {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  height: 160px;
  margin: 0.5em;
  margin-top: 10px;
  position: fixed;
  width: 95%;
  top: 10px;
  background: url(../images/background.jpg) fixed no-repeat black;
  background-size: cover;
}
/* line 13, scss/_header.scss */
header .banner {
  -webkit-flex-direction: row;
  flex-direction: row;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: stretch;
  align-items: stretch;
  height: 100%;
}
/* line 18, scss/_header.scss */
header .banner .logo {
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 0.8;
  flex: 0.8;
  background: url(../images/logo.png) transparent center center no-repeat;
  background-size: cover;
  height: 100%;
}
/* line 25, scss/_header.scss */
header .banner .titles {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex: 1;
  flex: 1;
  -webkit-flex-grow: 3;
  flex-grow: 3;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}
/* line 32, scss/_header.scss */
header .banner .titles h1 {
  font-size: 5em;
  font-family: "riogrande";
  margin: 0.2em;
  margin-bottom: 0.4em;
  text-align: center;
}
/* line 39, scss/_header.scss */
header .banner .titles h2 {
  font-family: "bleedingcowboys";
  font-size: 2.5em;
  text-align: center;
  margin: 0.2em;
}
/* line 46, scss/_header.scss */
header .banner .user {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex: 1;
  flex: 1;
}
/* line 50, scss/_header.scss */
header .banner .user label {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
/* line 53, scss/_header.scss */
header .banner .user label .avatar {
  display: -webkit-flex;
  display: flex;
  max-height: 100px;
  max-width: 100px;
}
/* line 57, scss/_header.scss */
header .banner .user label .avatar img {
  display: -webkit-flex;
  display: flex;
  max-height: 100px;
  max-width: 100px;
}
/* line 63, scss/_header.scss */
header .banner .user label .user_data {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
  /***** CSS Magic to Highlight Stars on Hover *****/
  /* hover previous stars in list */
}
/* line 66, scss/_header.scss */
header .banner .user label .user_data .user {
  font-weight: bold;
  font-size: 1.2em;
  margin: 0.2em;
}
/* line 74, scss/_header.scss */
header .banner .user label .user_data fieldset, header .banner .user label .user_data label {
  margin: 0;
  padding: 0;
}
/* line 75, scss/_header.scss */
header .banner .user label .user_data body {
  margin: 20px;
}
/* line 76, scss/_header.scss */
header .banner .user label .user_data h1 {
  font-size: 0.5em;
  margin: 2px;
}
/* line 78, scss/_header.scss */
header .banner .user label .user_data .rating {
  border: none;
  float: left;
}
/* line 83, scss/_header.scss */
header .banner .user label .user_data .rating > input {
  display: none;
}
/* line 84, scss/_header.scss */
header .banner .user label .user_data .rating > label:before {
  margin: 5px;
  font-size: 0.5em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}
/* line 92, scss/_header.scss */
header .banner .user label .user_data .rating > .half:before {
  content: "\f089";
  position: absolute;
}
/* line 97, scss/_header.scss */
header .banner .user label .user_data .rating > label {
  color: #ddd;
  float: right;
}
/* line 104, scss/_header.scss */
header .banner .user label .user_data .rating > input:checked ~ label,
header .banner .user label .user_data .rating:not(:checked) > label:hover,
header .banner .user label .user_data .rating:not(:checked) > label:hover ~ label {
  color: #FFD700;
}
/* line 108, scss/_header.scss */
header .banner .user label .user_data .rating > input:checked + label:hover,
header .banner .user label .user_data .rating > input:checked ~ label:hover,
header .banner .user label .user_data .rating > label:hover ~ input:checked ~ label,
header .banner .user label .user_data .rating > input:checked ~ label:hover ~ label {
  color: #FFED85;
}
/* line 114, scss/_header.scss */
header .banner .user label .user_data form input {
  padding: 0.2em;
  padding-left: 0.5em;
  border: 2px solid grey;
  border-radius: 10px;
  background-color: transparent;
  font-size: 1em;
  color: inherit;
}
/* line 115, scss/_header.scss */
header .banner .user label .user_data form input::placeholder {
  color: #fff;
}
/* line 125, scss/_header.scss */
header .banner .user label .user_data form input:focus {
  background-color: #1e1515;
  font-size: 1.1em;
}
/* line 129, scss/_header.scss */
header .banner .user label .user_data form input:-webkit-autofill, header .banner .user label .user_data form input textarea:-webkit-autofill, header .banner .user label .user_data form input select:-webkit-autofill {
  color: #fff;
  background-color: transparent;
  border: 5px solid #FAFFBD;
}
/* line 137, scss/_header.scss */
header .banner .user label .forms {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
/* line 140, scss/_header.scss */
header .banner .user label .forms input[type=submit] {
  border: none;
  color: #fff;
  background: transparent;
  font-style: oblique;
  font-size: 1.2em;
}
/* line 149, scss/_header.scss */
header .banner .user .forms {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
/* line 152, scss/_header.scss */
header .banner .user .forms input[type=submit] {
  border: none;
  color: #fff;
  background: transparent;
  font-style: oblique;
  font-size: 1.2em;
}
/* line 162, scss/_header.scss */
header .actions {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

/* line 1, scss/_index.scss */
.main {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: space-around;
  align-items: space-around;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  margin-top: 200px;
}

/* line 3, scss/_star_rating.scss */
fieldset, label {
  margin: 0;
  padding: 0;
}

/* line 4, scss/_star_rating.scss */
body {
  margin: 20px;
}

/* line 5, scss/_star_rating.scss */
h1 {
  font-size: 1.5em;
  margin: 10px;
}

/* line 7, scss/_star_rating.scss */
.rating {
  border: none;
  float: left;
}

/* line 12, scss/_star_rating.scss */
.rating > input {
  display: none;
}

/* line 13, scss/_star_rating.scss */
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

/* line 21, scss/_star_rating.scss */
.rating > .half:before {
  content: "\f089";
  position: absolute;
}

/* line 26, scss/_star_rating.scss */
.rating > label {
  color: #ddd;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/
/* line 33, scss/_star_rating.scss */
.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #FFD700;
}

/* hover previous stars in list */
/* line 37, scss/_star_rating.scss */
.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: #FFED85;
}

/* line 2, scss/_recipe.scss */
.recipe header {
  position: relative;
  background: transparent;
}
